<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.mxcl.frpc</string>
    <key>KeepAlive</key>
    <dict>
      <key>AfterInitialDemand</key>
      <dict>
        <key>homebrew.mxcl.frpc.setenv</key>
        <true/>
      </dict>
      <key>Crashed</key>
      <true/>
      <key>SuccessfulExit</key>
      <false/>
      <key>NetworkState</key>
      <true/>
      <key>OtherJobEnabled</key>
      <dict>
        <key>homebrew.mxcl.frpc.setenv</key>
        <true/>
      </dict>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/opt/frpc/bin/frpc</string>
      <string>-c</string>
      <string>/usr/local/etc/frp/frpc.ini</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/frpc/services.err.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/frpc/services.out.log</string>
  </dict>
</plist>
